.checkmarkContainer {
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  user-select: none;
}

.checkmarkContainer * {
  transition: all 0.3s ease;
}

/* Hide the browser's default radio button */
.checkmarkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #2e3338;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkmarkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkmarkContainer .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #02010a;
}

/* Dark mode styles */
/* TODO: @bayo these need to be modified, currently not able to select radio buttons in dark mode */

/* Style the background of the circle for dark mode */
html.dark .checkmark {
  background-color: black;
  border: 1px solid #636366;
}

/* Style the outer circle on mouse-over for dark mode */
html.dark .checkmarkContainer:hover input ~ .checkmark {
  border-color: #fcd7fc !important;
}

/* Style the outer circle when checked for dark mode */
html.dark .checkmarkContainer input:checked ~ .checkmark {
  border-color: #fcd7fc !important;
}

/* Style the indicator (dot/circle) for dark mode */
html.dark .checkmarkContainer input:checked ~ .checkmark:after {
  background: #fcd7fc !important;
}
